.progress-container {
  height: 0.5rem;
  background-color: #e5e7eb;
  border-radius: 9999px;
  overflow: hidden;
}

.progress-bar {
  height: 100%;
  background-color: #10b981;
  transition: width 300ms ease-out;
}
/* socorrodeus */

